{% extends 'layouts/cabecera.html' %}

{% load static %}

{% block content %}

<h1>Ventas</h1>
{% for venta in ventas %}
    {% for cliente in clientes %}
        {% if cliente.id == venta.cliente_id %}
            <div class="card">
                <a href="{% url 'factura' venta.id %}">
                    <h1>{{venta.ruc}}</h1>
                    <h1>{{cliente.cliente}}</h1>
                    <h1>{{venta.fecha}}</h1>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}   

{% endblock %}